@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-bottom: 1px solid black;
}

.navbar a {
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

a:hover {
  background-color: #f3f3f3;
  border-radius: 10px;
}

.blog-preview,
.blog-details {
  margin: 1.5rem;
  padding: 1rem;
}

.blog-preview:hover {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.blog-preview a {
  text-decoration: none;
  color: black;
}

.blog-details div {
  margin-top: 2rem;
}

.create h2 {
  text-align: center;
  margin: 1rem;
}

form {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

form button {
  padding: 0.5rem 2rem;
}

.create button:hover {
  cursor: pointer;
}
