@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

a:hover {
  color: aqua;
}
